<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/dr/DataRetrieval"
			class = "org.xtext.example.dr.dataRetrieval.DataRetrievalPackage"
			genModel = "model/generated/DataRetrieval.genmodel" />
	</extension>
</plugin>
